code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url('/assets/mage-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* This will ensure the image stays in place when scrolling */
  background-position: center center;
  /* This will center the image */
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* You can change the font if needed */
  color: #333;
  /* Default text color, you can change as needed */
}